<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Shows</h1>
            <hr class="my-4">
            <div class="showlist">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Network</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for this_show in all_shows %}
                        <tr>
                            <th scope="row">{{this_show.id}}</th>
                            <td scope="row">{{this_show.title}}</td>
                            <td scope="row">{{this_show.network}}</td>
                            <td scope="row">{{this_show.release_date}}</td>
                            <td scope="row">
                                <a href="/shows/{{this_show.id}}">Show   </a><span>|</span>
                                <a href="/shows/{{this_show.id}}/edit">Edit    </a><span>|</span>
                                <a href="/shows/{{this_show.id}}/destoy">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr class="my-4">
            <a href="/shows/new" class="btn btn-primary">Add a New Show</a>
        </div>
    </div>
</body>
</html>